<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Product code:</strong>
    <%= product.product_code %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= product.product_type %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= product.material %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= product.unit %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= product.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= product.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= product.height %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= product.buy_price %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= product.sell_price %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= product.decription %>
  </p>

  <p>
    <strong>Available number:</strong>
    <%= product.available_number %>
  </p>

  <p>
    <strong>Minimum number:</strong>
    <%= product.minimum_number %>
  </p>

  <p>
    <strong>Sell number:</strong>
    <%= product.sell_number %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= product.priority %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= product.photo %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= product.product_category_id %>
  </p>

  <p>
    <strong>Warehouse position:</strong>
    <%= product.warehouse_position_id %>
  </p>

</div>
