<div id="<%= dom_id product_category %>">
  <p>
    <strong>Name:</strong>
    <%= product_category.name %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= product_category.tag %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= product_category.parent_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product_category.active %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= product_category.priority %>
  </p>

</div>
